<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- navbar -->


    <!-- main content -->
    <div class="container w-50 p-3">
        <div class="row justify-content-center">
            <fieldset disabled>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">User Location</label>
                    <div class="d-flex justify-content-between w-100 p-3">
                        <img class="w-25"
                            src="User_follower_icons_social_media_notification_icon_in_speech_bubbles_vector_illustration.jpg">
                        <input value="<%=data1.origin %>" type="text" id="disabledTextInput" class="form-control"
                            placeholder="Disabled input">
                    </div>

                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Destination</label>
                    <div class="d-flex justify-content-between w-100 p-3">

                        <input value="<%=data1.destination %>" type="text" id="disabledTextInput" class="form-control"
                            placeholder="Disabled input">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Tanggal Order</label>
                    <div class="d-flex justify-content-between w-100 p-3">

                        <input value="<%=data1.tanggalOrder %>" type="text" id="disabledTextInput" class="form-control"
                            placeholder="Disabled input">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Costomer</label>
                    <div class="d-flex justify-content-between w-100 p-3">

                        <input value="<%=data1.User.UserProfile.name %>" type="text" id="disabledTextInput"
                            class="form-control" placeholder="Disabled input">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Driver</label>
                    <div class="d-flex justify-content-between w-100 p-3">

                        <input value="<%=data2.Driver.DriverProfile.name %>" type="text" id="disabledTextInput"
                            class="form-control" placeholder="Disabled input">
                    </div>
                </div>
            </fieldset>

            <form>
                <label class="form-label">Price</label>
                <div class="mb-3 d-flex justify-content-between w-100 p-3">
                    <% if (data1.price==null) { %>
                        <input class="form-control" type="text" value="<%=data1.price %>" disabled>
                        <% } else { %>
                            <input class="form-control" type="text" value="<%=toRupiah(data1.price) %>" disabled>
                            <% } %>
                </div>
                <% if (data1.price !==null ) { %>
                    <div class="row justify-content-center w-100 p-3">
                        <a class="btn btn-primary" href="/invoice" role="button">Link</a>
                    </div>
                    <% } else { %>
                        <div class="row justify-content-center w-100 p-3">
                            <a class="btn btn-primary" href="/login" role="button">Link</a>
                        </div>
                    <% } %>
            </form>
        </div>
    </div>




    <!-- boostrap -->
    <%- include('_boostrap') %>

</body>

</html>